$font-size: 20px;
$mobile-dimension: 375px;
$desktop-dimension: 1440px;
$primary-color-blue: hsl(223, 87%, 63%);
$secondary-color-red: hsl(354, 100%, 66%);
$secondary-color-blue: hsl(223, 100%, 88%);
$neutral-color-gray: hsl(0, 0%, 59%);
$neutral-color-blue: hsl(209, 33%, 12%);
$font-family: 'Libre Franklin', sans-serif;
$font-weights: (
    "light": 300,
    "normal": 600,
    "bold": 700
);
